h5{
    font-weight: bold;
}
h3{
    color:#5867dd;
}
a.disabled {
    /* Make the disabled links grayish*/
    color: gray;
    pointer-events: none;
}
.borderline{
    background:#ffffff;
    padding: 25px;
}
.borderline p{
    margin-left: 40px;
    text-align: justify;
}