h5{
    font-weight: bold;
}
h3{
    color:#5867dd;
}
a.disabled {
    /* Make the disabled links grayish*/
    color: gray;
    pointer-events: none;
}
a:hover{
    color: unset;
    text-decoration: none;
}
.danger {
    color: #fff;
    background-color: #fd397a;
    border-color: #fd397a;
    font-weight: bold;
}
.success {
    color: #fff;
    background-color: #0abb87;
    border-color: #0abb87;
}

.badge_success {
    background: #0abb87;
    display: inline-block;
    padding: 3px 6px;
    border-radius: 25px;
    font-size: 11px;
    color: white;
    font-weight: 400;
}
.badge_danger {
    background: #fd397a;
    display: inline-block;
    padding: 3px 6px;
    border-radius: 25px;
    font-size: 11px;
    color: white;
    font-weight: 400;
}