.tabsprops{
    margin:20px;
   }
ul li{
    list-style-type: none;
    // display: inline-block;
}
h5{
    font-weight: bold;
} 
h3{
    color:#5867dd;
}   
.labelbold{
    font-size: 13px;
    font-weight: bold;
    color:#000000;
}