.tabsprops{
    margin:20px;
   }
ul li{
    list-style-type: none;
    // display: inline-block;
}   
.labelbold{
    font-size: 13px;
    font-weight: bold;
    color:#000000;
}
h5{
    font-weight: bold;
} 
h3{
    color:#5867dd;
}
.danger {
  color: #fff;
  background-color: #fd397a;
  border-color: #fd397a;
  font-weight: bold;
}
.success {
  color: #fff;
  background-color: #0abb87;
  border-color: #0abb87;
}
.proccess {
color: #fff;
background-color: #ffb822;
border-color: #ffb822;
}
