  .button {
    text-decoration: none;
    float: right;
    padding: 12px;
    margin: 15px;
    color: white;
    width: 25px;
    background-color: #2739c1;
    transition: width .35s;
    -webkit-transition: width .35s;
    overflow: hidden;
    width: 100px;
    text-align: center;
  }
  
  a:hover {
    color: white;
  }

  a {
    text-decoration: none;
  }
  .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
	left: 0px;
	bottom: 18px;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}