.sidebar {
    background-color:#ffffff;
    position:fixed;
    right:50px;
    padding: 20px;
    border: 4px solid #f7f7fa
}
.buttonbg { // back-grcolor:#22b9ff; 
    background-color:#22b9ff; 
    border-radius: 60px; 
    color: #ffffff; 
    text-align: center; 
    padding: 1.2rem 3rem; 
    border: 1px solid #22b9ff; 
    cursor: pointer; 
} 
.buttonbg:hover {
    background-color: #33ccff
}
.disabled { pointer-events: none; }