.borderline{
    background:#ffffff;
    padding: 25px;
}
h5{
    font-weight: bold;
}
h3{
    color:#5867dd;
}
.danger {
    color: #fff;
    background-color: #fd397a;
    border-color: #fd397a;
    font-weight: bold;
}
.success {
    color: #fff;
    background-color: #0abb87;
    border-color: #0abb87;
}